# Python
__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
.tox

# Python virtual env
venv

# DBs
*.db

# Code generation
public-schema-client
publish
content-server/coal_content_server/openapi
game-server/coal_game_server/openapi
player-server/coal_player_server/openapi
public-schema-server/coal_public_api_server/openapi
